<!--
<div class="layout-column" layout="column">
    <form layout="row" layout-align="center" class="layout-align-center-stretch" style="width: t">
        <md-input-container flex="60" class="flex-60 md-input-has-value">
            <label class="md-required" for="select">Artikel
            </label>
            <md-select id="select" required="">
                <md-option ng-repeat="option in $ctrl.options" value="{{option}}">{{option}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>

            </label>
            <md-select>

            </md-select>
        </md-input-container>
        <md-input-container>
            <button></button>
        </md-input-container>
    </form>
    <md-content>

    </md-content>
</div>
-->
<div>
    <form layout="row" layout-align="center" name="$ctrl.formular">
        <md-input-container flex="55">
            <label>Artikel</label>
            <md-select ng-model="$ctrl.artikelname" minlength="1" required>
                <md-option ng-repeat="element in $ctrl.ops" value="{{element}}">{{element}}</md-option>
            </md-select>
        </md-input-container>
        <div flex="4"></div>
        <md-input-container flex="10">
            <label>Menge</label>
            <input type="number" ng-model="$ctrl.anzahl" min="1" required>
        </md-input-container>
        <md-input-container>
            <md-button ng-disabled="$ctrl.formular.$invalid" ng-click="$ctrl.neuArtikel();"><md-icon>add_circle</md-icon></md-button>
        </md-input-container>
    </form>
    <md-content flex>
        <artikel ng-repeat="element in $ctrl.opslist" obj="element"  on-delete="$ctrl.loesch(object)"></artikel>
    </md-content>
</div>