<div class="layout-column" layout="column">
    <form layout="row" layout-align="center" class="layout-align-center-stretch" style="width: t">
        <md-input-container flex="60" class="flex-60 md-input-has-value">
            <label class="md-required" for="select">Artikel
            </label>
            <md-select id="select" required="">
                <md-option ng-repeat="option in $ctrl.options" value="{{option}}">{{option}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>

            </label>
            <md-select>

            </md-select>
        </md-input-container>
        <md-input-container>
            <button></button>
        </md-input-container>
    </form>
    <md-content>

    </md-content>
</div>