<div layout="row" layout-align="center" class="layout-align-center-stretch layout-row">
    <md-card style="max-width: 500px; min-width: 400px;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">The Best of the Best</span>
                <span class="md-subhead">We got it</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ui-sref="einkaufen" href="#!/einkaufen">Einkaufen</md-button>
        </md-card-actions>
    </md-card>
</div>