<!--<script src="components/artikel.js"></script>-->
<form layout="row" layout-align="center" name="$ctrl.formular" style="margin-top: 1%">
    <md-input-container flex="55">
        <label>Artikel</label>
        <md-select ng-model="$ctrl.artikelname" style="margin-right: 15%" minlength="1" required>
            <md-option><em></em></md-option>
            <md-option value="Luxusjacht"><em>Luxusjacht</em></md-option>
            <md-option value="Düsenjet"><em>Düsenjet</em></md-option>
            <md-option value="Audi R8 Sport"><em>Audi R8 Sport</em></md-option>
            <md-option value="Champagner"><em>Champagner</em></md-option>
        </md-select>
    </md-input-container>
    <md-input-container flex="10">
        <label>Menge</label>
        <input type="number" ng-model="$ctrl.stueck" min="1" required>
    </md-input-container>
    <md-input-container>
        <md-button ng-disabled="$ctrl.formular.$invalid" ng-click="$ctrl.add()" class="md-accent"><md-icon>add_circle</md-icon></md-button>
    </md-input-container>
</form>
<md-content flex>

            <artikel ng-repeat="x in $ctrl.artikelliste" text="{{x.text}}" stueck="{{x.stueck}}" geloescht="$ctrl.loeschen(text, stueck)"></artikel>

</md-content>
