<div layout="row" layout-align="center">
<md-card style="max-width: 40em">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Klein, aber fein</span>
            <span class="md-subhead">Luxus, für Sie ausgesucht an der HTL Rennweg...</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button href="#!/shopbereich" ui-sref="shopbereich" class="md-raised md-primary">EINKAUFEN</md-button>
    </md-card-actions>
</md-card>
</div>