<form layout="row" layout-align="center center">
    <div flex="30" ng-hide="$ctrl.geklickt">
        <span>{{$ctrl.getname();}}</span>
    </div>
    <div flex="40" ng-show="$ctrl.geklickt">
        <span>{{$ctrl.getname();}}</span>
    </div>
    <div flex="10" ng-hide="$ctrl.geklickt">
        <span>{{$ctrl.getanzahl();}}</span>
    </div>
    <md-input-container flex="10" ng-show="$ctrl.geklickt">
        <label>Menge</label>
        <input type="number" ng-model="$ctrl.neustueck" min="1" required>
    </md-input-container>

    <button ng-click="$ctrl.bearbeiten();" ng-hide="$ctrl.geklickt" class="md-icon-button md-button"><md-icon>mode_edit</md-icon></button>
    <button ng-show="$ctrl.geklickt" ng-click="$ctrl.speichern();" class="md-icon-button md-primary md-button"><md-icon>check_circle</md-icon></button>
    <button ng-show="$ctrl.geklickt" ng-click="$ctrl.fertig();" class="md-icon-button md-warn md-button"><md-icon>cancel_circle</md-icon></button>
    <button ng-click="$ctrl.del();" ng-hide="$ctrl.geklickt" class="md-icon-button md-warn md-button"><md-icon>delete</md-icon></button>
</form>