<div layout="row" layout-align="center">
    <md-card style="max-width: 50em">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Danke für ihre Bestellung!</span>
                <span class="md-subhead">Sie werden es nicht bereuen.</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="einkaufen" class="md-raised md-primary">NOCHMALS EINKAUFEN</md-button>
        </md-card-actions>
    </md-card>
</div>